.footer {
	background-image: linear-gradient(270deg, rgba(142,34,195,1) 4%, rgba(118,112,186,1) 27%, rgba(128,190,174,1) 56%, rgba(170,229,203,1) 83%, rgba(254,255,167,1) 100%);
	width: 100%;
	box-shadow: 0 50vh 0 50vh lightblue;
	text-align: center;
	margin-top: 2em;
}